<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="MiniIOC" type="MiniIOC.Framwork.Config.MiniIOCSection,MiniIOC"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <MiniIOC configSource="Config\MiniIOC.config"/>
  <!--<MiniIOC XmlCollectionPath="" AssemblyPath=""/>-->
</configuration>
