<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="MiniIOC">
      <section name="xmlCollectionPath" type="MiniIOC.Config.MiniIocConfigurationSectionHandler" />
    </sectionGroup>
  </configSections>

  <MiniIOC>
    <xmlCollectionPath>
      <add key="path" value=""/>
    </xmlCollectionPath>
    <AssemblyPath>
      <add key="path" value=""/>
    </AssemblyPath>
    <MiniIOCEntitys>
      <entity assembly="you Assembly name" type="you Class Name behind namespace"/>
    </MiniIOCEntitys>
  </MiniIOC>
  
  
  
  
  
  
</configuration>